.p-Home.Flex2 {
display: flex;
flex-direction: column;
width: 100vw;
height: 100vh;
box-sizing: border-box;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 0px;
overflow: scroll;
align-items: center;
flex-wrap: nowrap;
}
.p-Home.Navbar {
display: flex;
width: 100%;
justify-content: center;
padding-top: 40px;
padding-bottom: 0px;
align-items: center;
border-style: none;
border-color: ;
outline-color: ;
border-width: ;
outline-width: 0px;
outline-style: none;
}
.p-Home.Wrapper {
display: flex;
width: 85%;
justify-content: space-between;
align-items: center;
outline-color: #ffffff;
outline-width: 0px;
outline-style: none;
outline-offset: 0px;
flex-direction: row;
border-style: none;
}
.p-Home.Links {
display: flex;
height: px;
position: static;
float: right;
width: 500px;
align-items: center;
justify-content: space-between;
padding-right: 10px;
padding-left: 10px;
}
.p-Home.Flex6 {
display: flex;
justify-content: flex-start;
padding-top: 70px;
padding-bottom: 20px;
height: auto;
width: 85%;
align-items: stretch;
border-color: #f21010;
border-radius: 2px;
border-width: 2px;
border-style: none;
flex-direction: row;
}
.p-Home.Div4 {
width: 60%;
border-width: 2px;
border-style: solid;
border-color: transparent;
height: auto;
}
.p-Home.Flex7 {
display: flex;
justify-content: flex-start;
align-items: center;
}
.p-Home.Div6 {
background-color: #ec7715;
display: inline;
width: auto;
position: static;
float: left;
cursor: pointer;
margin-right: ;
padding-right: 3px;
padding-bottom: 3px;
}
.p-Home.Div7 {
;
}
.p-Home.Flex8 {
display: flex;
align-items: center;
justify-content: center;
align-content: center;
box-sizing: content-box;
}
.p-Home.ImgContainer {
width: 43%;
display: inline;
margin-top: ;
background-clip: border-box;
-webkit-background-clip: border-box;
}
.p-Home.TrustedWrapper {
display: flex;
width: 85%;
align-items: center;
justify-content: center;
flex-direction: column;
align-content: center;
}
.p-Home.Logos {
display: flex;
width: 100%;
align-items: center;
justify-content: space-around;
align-content: center;
margin-top: 40px;
}
.p-Home.Div10 {
;
}
.p-Home.Div11 {
;
}
.p-Home.Div12 {
;
}
.p-Home.Div13 {
;
}
.p-Home.Flex11 {
display: flex;
width: 85%;
align-items: center;
justify-content: center;
align-content: stretch;
flex-direction: column;
align-self: center;
box-sizing: content-box;
outline-color: transparent;
outline-style: none;
border-style: none;
}
.p-Home.Flex12 {
display: flex;
align-items: center;
width: 80%;
justify-content: center;
flex-direction: column;
margin-bottom: 110px;
}
.p-Home.ServicesFlex {
display: flex;
width: 100%;
border-width: 1px;
border-style: none;
align-items: stretch;
justify-content: space-between;
align-content: stretch;
flex-direction: row;
margin-top: 80px;
margin-bottom: 80px;
outline-color: ;
outline-style: none;
}
.p-Home.Flex16 {
display: flex;
border-width: 3px;
border-style: solid;
border-color: transparent;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
width: 306px;
height: 381px;
box-sizing: border-box;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}
.p-Home.Flex18 {
display: flex;
border-width: 3px;
border-style: solid;
border-color: transparent;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
width: 306px;
height: 381px;
box-sizing: border-box;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}
.p-Home.Flex20 {
display: flex;
border-width: 3px;
border-style: solid;
border-color: transparent;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
width: 306px;
height: 381px;
box-sizing: border-box;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}
.p-Home.Flex21 {
display: flex;
width: 85%;
align-items: center;
justify-content: space-between;
flex-direction: row;
}
.p-Home.Flex22 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}
.p-Home.Flex23 {
display: flex;
}
.p-Home.Div16 {
background-color: #ec7715;
display: inline;
width: auto;
position: static;
float: left;
cursor: pointer;
margin-right: ;
padding-right: 3px;
padding-bottom: 3px;
}
.p-Home.Flex51 {
display: flex;
width: 85%;
padding-top: 65px;
flex-direction: column;
outline-width: 1px;
outline-style: none;
outline-color: #87da0a;
}
.p-Home.Flex52 {
display: flex;
width: 7rem;
float: right;
position: static;
background-clip: padding-box;
-webkit-background-clip: padding-box;
text-align: left;
justify-content: space-between;
height: 3.3rem;
background-color: #ffffff;
cursor: pointer;
}
.p-Home.Flex57 {
display: flex;
width: 3.3rem;
height: 3.3rem;
}
.p-Home.Flex58 {
display: flex;
width: 3.3rem;
height: 3.3rem;
}
.p-Home.Flex53 {
display: flex;
justify-content: space-between;
column-gap: 50px;
min-height: %;
overflow: scroll;
}
.p-Home.Flex54 {
display: flex;
}
.p-Home.Div25 {
;
}
.p-Home.Div26 {
background-color: #ffffff;
clear: none;
}
.p-Home.Flex196 {
display: flex;
}
.p-Home.Div98 {
;
}
.p-Home.Div97 {
background-color: #ffffff;
clear: none;
}
.p-Home.Flex197 {
display: flex;
}
.p-Home.Div100 {
;
}
.p-Home.Div99 {
background-color: #ffffff;
clear: none;
}
.p-Home.Flex69 {
display: flex;
width: 85%;
margin-top: 0px;
padding-top: 80px;
padding-bottom: 80px;
align-items: center;
}
.p-Home.Div27 {
width: 50%;
}
.p-Home.Div28 {
width: 50%;
}
.p-Home.Flex72 {
display: flex;
width: 85%;
row-gap: 20%;
align-items: center;
justify-content: space-between;
align-content: stretch;
align-self: center;
column-gap: 20px;
padding-bottom: 80px;
}
.p-Home.Flex74 {
display: flex;
}
.p-Home.Flex75 {
display: flex;
}
.p-Home.Flex76 {
display: flex;
width: 40%;
flex-direction: column;
align-self: flex-start;
row-gap: 10px;
}
.p-Home.Div35 {
;
}
.p-Home.Div36 {
;
}
.p-Home.Flex82 {
display: flex;
width: 85%;
padding-top: 80px;
padding-bottom: 80px;
justify-content: space-between;
row-gap: 0px;
column-gap: 0px;
align-items: center;
}
.p-Home.Flex90 {
display: flex;
}
.p-Home.Flex92 {
display: flex;
flex-direction: column;
}
.p-Home.Flex93 {
display: flex;
justify-content: space-between;
column-gap: 100px;
align-items: center;
margin-bottom: 35px;
padding-bottom: 40px;
border-bottom-width: 0.5px;
border-bottom-style: solid;
}
.p-Home.Div39 {
;
}
.p-Home.Flex96 {
display: flex;
width: ;
justify-content: center;
align-items: flex-end;
height: ;
column-gap: 40px;
align-content: flex-start;
}
.p-Home.Div42 {
;
}
.p-Home.Flex97 {
display: flex;
align-items: flex-end;
flex-direction: column;
align-content: flex-start;
height: 80px;
width: 30px;
justify-content: flex-start;
}
.p-Home.Flex107 {
display: flex;
justify-content: space-between;
column-gap: 30px;
align-items: center;
margin-bottom: 35px;
padding-bottom: 40px;
border-bottom-width: 0.5px;
border-bottom-style: solid;
border-style: none;
border-width: 0.5px;
}
.p-Home.Flex106 {
display: flex;
width: ;
justify-content: center;
align-items: flex-end;
height: ;
column-gap: 40px;
align-content: flex-start;
}
.p-Home.Flex105 {
display: flex;
align-items: flex-end;
flex-direction: column;
align-content: flex-start;
height: 80px;
width: 30px;
justify-content: flex-start;
}
.p-Home.Div49 {
;
}
.p-Home.Div50 {
;
}
.p-Home.Flex110 {
display: flex;
justify-content: space-between;
column-gap: 30px;
align-items: center;
margin-bottom: 35px;
padding-bottom: 40px;
border-bottom-width: 0.5px;
border-bottom-style: solid;
}
.p-Home.Div52 {
;
}
.p-Home.Flex109 {
display: flex;
width: ;
justify-content: center;
align-items: flex-end;
height: ;
column-gap: 40px;
align-content: flex-start;
}
.p-Home.Div51 {
;
}
.p-Home.Flex108 {
display: flex;
align-items: flex-end;
flex-direction: column;
align-content: flex-start;
height: 80px;
width: 30px;
justify-content: flex-start;
}
.p-Home.Flex91 {
display: flex;
}
.p-Home.Flex120 {
display: flex;
flex-direction: column;
}
.p-Home.Flex117 {
display: flex;
justify-content: space-between;
column-gap: 30px;
align-items: center;
margin-bottom: 35px;
padding-bottom: 40px;
border-bottom-width: 0.5px;
border-bottom-style: solid;
}
.p-Home.Flex114 {
display: flex;
width: ;
justify-content: center;
align-items: flex-end;
height: ;
column-gap: ;
align-content: flex-start;
}
.p-Home.Flex111 {
display: flex;
align-items: flex-end;
flex-direction: column;
align-content: flex-start;
height: 80px;
width: 30px;
justify-content: flex-start;
}
.p-Home.Div53 {
;
}
.p-Home.Div56 {
;
}
.p-Home.Flex118 {
display: flex;
justify-content: space-between;
column-gap: 30px;
align-items: center;
margin-bottom: 35px;
padding-bottom: 40px;
border-bottom-width: 0.5px;
border-bottom-style: solid;
border-style: none;
border-width: 0.5px;
}
.p-Home.Div57 {
;
}
.p-Home.Flex115 {
display: flex;
width: ;
justify-content: center;
align-items: flex-end;
height: ;
column-gap: ;
align-content: flex-start;
}
.p-Home.Div54 {
;
}
.p-Home.Flex112 {
display: flex;
align-items: flex-end;
flex-direction: column;
align-content: flex-start;
height: 80px;
width: 30px;
justify-content: flex-start;
}
.p-Home.Flex119 {
display: flex;
justify-content: space-between;
column-gap: 100px;
align-items: center;
margin-bottom: 35px;
padding-bottom: 40px;
border-bottom-width: 0.5px;
border-bottom-style: solid;
}
.p-Home.Flex116 {
display: flex;
width: ;
justify-content: center;
align-items: flex-end;
height: ;
column-gap: ;
align-content: flex-start;
}
.p-Home.Flex113 {
display: flex;
align-items: flex-end;
flex-direction: column;
align-content: flex-start;
height: 80px;
width: 30px;
justify-content: flex-start;
}
.p-Home.Div55 {
;
}
.p-Home.Div58 {
align-self: center;
}
.p-Home.Flex121 {
display: flex;
width: 85%;
flex-direction: column;
padding-top: 80px;
}
.p-Home.Flex122 {
display: flex;
width: 85%;
padding-bottom: 160px;
column-gap: 60px;
padding-top: 80px;
}
.p-Home.Flex123 {
display: flex;
width: 485px;
align-items: stretch;
justify-content: flex-start;
align-content: stretch;
overflow: visible;
height: 450px;
}
.p-Home.Flex124 {
display: flex;
width: 50%;
flex-direction: column;
}
.p-Home.Div60 {
;
}
.p-Home.Flex125 {
display: flex;
}
.p-Home.Flex126 {
display: flex;
margin-top: 115px;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex129 {
display: flex;
flex-direction: column;
}
.p-Home.Flex130 {
display: flex;
width: ;
}
.p-Home.Flex132 {
display: flex;
background-color: #000000;
align-items: center;
width: 54px;
height: 54px;
justify-content: center;
cursor: pointer;
}
.p-Home.Flex133 {
display: flex;
background-color: #000000;
align-items: center;
width: 54px;
height: 54px;
justify-content: center;
cursor: pointer;
}
.p-Home.Flex145 {
display: flex;
background-color: #000000;
width: 100%;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding-top: 80px;
}
.p-Home.Flex146 {
display: flex;
width: 85%;
background-color: #000000;
flex-direction: column;
color: #ffffff;
margin-bottom: 120px;
}
.p-Home.Flex147 {
display: flex;
background-color: #000000;
width: 85%;
justify-content: space-between;
column-gap: 50px;
}
.p-Home.Flex156 {
display: flex;
width: 50%;
flex-direction: column;
}
.p-Home.Flex173 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
border-bottom-width: 0.5px;
border-bottom-style: solid;
border-bottom-color: #E5E5E5;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Flex172 {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Div72 {
;
}
.p-Home.Flex175 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
border-bottom-width: 0.5px;
border-bottom-style: solid;
border-bottom-color: #E5E5E5;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Flex174 {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Div73 {
;
}
.p-Home.Flex177 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
border-bottom-width: 0.5px;
border-bottom-style: solid;
border-bottom-color: #E5E5E5;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Flex176 {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Div74 {
;
}
.p-Home.Flex179 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
border-bottom-width: 0.5px;
border-bottom-style: solid;
border-bottom-color: #E5E5E5;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Flex178 {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Div75 {
;
}
.p-Home.Flex161 {
display: flex;
width: 50%;
flex-direction: column;
align-items: center;
justify-content: center;
border-bottom-width: 0.5px;
border-bottom-style: solid;
}
.p-Home.Flex155 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #E5E5E5;
border-width: 0.5px;
border-style: solid;
padding-top: ;
padding-bottom: 25px;
margin-top: 25px;
}
.p-Home.Flex158 {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Div65 {
;
}
.p-Home.Flex163 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
border-bottom-width: 0.5px;
border-bottom-style: solid;
border-bottom-color: #E5E5E5;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Flex162 {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Div67 {
;
}
.p-Home.Flex165 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
border-bottom-width: 0.5px;
border-bottom-style: solid;
border-bottom-color: #E5E5E5;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Flex164 {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Div68 {
;
}
.p-Home.Flex200 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
border-bottom-width: 0.5px;
border-bottom-style: solid;
border-bottom-color: #E5E5E5;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Flex199 {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
margin-top: 25px;
padding-bottom: 25px;
}
.p-Home.Div101 {
;
}
.p-Home.Flex180 {
display: flex;
padding-top: 160px;
padding-bottom: 20px;
width: 100%;
background-color: #000000;
flex-direction: column;
align-items: center;
}
.p-Home.Flex181 {
display: flex;
width: 85%;
flex-direction: column;
margin-bottom: 0px;
padding-bottom: 0px;
}
.p-Home.Flex184 {
display: flex;
flex-direction: column;
}
.p-Home.Flex185 {
display: flex;
margin-top: 80px;
column-gap: 150px;
justify-content: space-between;
}
.p-Home.Flex188 {
display: flex;
width: 40%;
height: ;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Div78 {
;
}
.p-Home.Div80 {
;
}
.p-Home.Flex190 {
display: flex;
align-items: center;
justify-content: flex-start;
align-content: flex-start;
margin-top: 9px;
margin-bottom: 30px;
}
.p-Home.Div81 {
;
}
.p-Home.Div82 {
;
}
.p-Home.Flex189 {
display: flex;
column-gap: ;
width: 40%;
justify-content: space-between;
}
.p-Home.Flex191 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Div83 {
;
}
.p-Home.Div86 {
;
}
.p-Home.Div87 {
;
}
.p-Home.Flex192 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Div91 {
;
}
.p-Home.Div92 {
;
}
.p-Home.Div93 {
;
}
.p-Home.Flex193 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Div94 {
;
}
.p-Home.Div95 {
;
}
.p-Home.Div96 {
;
}
.p-Home.Flex195 {
display: flex;
width: 85%;
margin-top: 150px;
flex-direction: column;
}
.p-Home.Flex198 {
display: flex;
width: 100%;
align-items: center;
justify-content: center;
background-color: #000000;
margin-top: ;
padding-top: 0px;
}
.p-Home.Flex59 {
display: flex;
width: 85%;
padding-top: ;
padding-bottom: 200px;
background-color: #000000;
justify-content: center;
row-gap: ;
align-items: stretch;
flex-direction: row;
overflow: visible;
align-content: flex-start;
flex-wrap: nowrap;
align-self: auto;
height: 80%;
box-sizing: content-box;
margin-top: 0px;
padding-left: ;
padding-right: ;
}
.p-Home.Flex60 {
display: flex;
background-attachment: scroll;
padding-bottom: 140px;
width: 40%;
background-position-y: 25px;
flex-direction: column;
align-items: stretch;
align-content: stretch;
justify-content: flex-start;
}
.p-Home.Flex61 {
display: flex;
width: 100%;
}
.p-Home.Flex63 {
display: flex;
flex-direction: column;
width: 100%;
background-color: ;
height: ;
align-content: flex-start;
justify-content: flex-start;
overflow: scroll;
box-sizing: border-box;
}
.p-Home.Flex64 {
display: inline-flex;
flex-direction: column;
margin-top: 65px;
margin-bottom: 30px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff4d;
line-height: ;
padding-bottom: 30px;
overflow: visible;
}
.p-Home.Flex65 {
display: inline-flex;
flex-direction: column;
margin-top: 65px;
margin-bottom: 30px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff4d;
line-height: ;
padding-bottom: 30px;
}
.p-Home.Flex66 {
display: inline-flex;
flex-direction: column;
margin-top: 65px;
margin-bottom: 30px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff4d;
line-height: ;
padding-bottom: 30px;
}
.p-Home.Flex67 {
display: inline-flex;
flex-direction: column;
margin-top: 65px;
margin-bottom: 30px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff4d;
line-height: ;
padding-bottom: 30px;
}
.p-Home.Flex68 {
display: inline-flex;
flex-direction: column;
margin-top: 65px;
margin-bottom: 30px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff4d;
line-height: ;
padding-bottom: 30px;
}
.p-Home.Logo {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 2.5rem;
}
.p-Home.About {
align-self: center;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
}
.p-Home.Link2 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
}
.p-Home.Link3 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
}
.p-Home.Link4 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
}
.p-Home.Link5 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
}
.p-Home.Heading {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 5rem;
width: auto;
padding-top: 100px;
padding-bottom: ;
margin-top: -50px;
}
.p-Home.TextBox5 {
width: auto;
font-family: IBM Plex Sans;
font-size: 4.5rem;
font-weight: 700;
}
.p-Home.TextBox6 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 1.5rem;
line-height: ;
word-wrap: break-word;
color: #736d6d;
margin-top: 25px;
margin-bottom: 40px;
}
.p-Home.Button1 {
color: #fff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 1.2rem;
border-radius: 0px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 0px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: auto;
font-family: IBM Plex Sans;
}
.p-Home.TextBox7 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
text-align: right;
word-wrap: normal;
padding-left: 40px;
}
.p-Home.Image3 {
width: 100%;
flex-shrink: 1;
height: 100%;
overflow: visible;
}
.p-Home.TextBox8 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1rem;
text-align: center;
color: #616161;
}
.p-Home.Image4 {
width: 140px;
}
.p-Home.Image5 {
width: 140px;
}
.p-Home.Image6 {
width: 140px;
}
.p-Home.Image7 {
width: 140px;
}
.p-Home.TextBox9 {
text-align: center;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.5rem;
width: 80%;
}
.p-Home.TextBox10 {
font-family: IBM Plex Sans;
font-size: 3.3rem;
font-weight: 700;
text-align: center;
width: 80%;
}
.p-Home.TextBox11 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.5rem;
padding-top: 42px;
padding-bottom: 20px;
}
.p-Home.TextBox12 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 1.2rem;
margin-bottom: 25px;
}
.p-Home.TextBox13 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
margin-bottom: 10px;
}
.p-Home.TextBox14 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
margin-bottom: 10px;
}
.p-Home.TextBox15 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
margin-bottom: 10px;
}
.p-Home.Image8 {
;
}
.p-Home.Image9 {
;
}
.p-Home.TextBox19 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 1.2rem;
margin-bottom: 25px;
}
.p-Home.TextBox20 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.5rem;
padding-top: 42px;
padding-bottom: 20px;
}
.p-Home.TextBox26 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
margin-bottom: 10px;
}
.p-Home.TextBox27 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
margin-bottom: 10px;
}
.p-Home.TextBox28 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
margin-bottom: 10px;
}
.p-Home.TextBox29 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
margin-bottom: 10px;
}
.p-Home.TextBox30 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
margin-bottom: 10px;
}
.p-Home.TextBox31 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.2rem;
margin-bottom: 10px;
}
.p-Home.TextBox32 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.5rem;
padding-top: 42px;
padding-bottom: 20px;
}
.p-Home.TextBox33 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 1.2rem;
margin-bottom: 25px;
word-wrap: normal;
background-clip: border-box;
-webkit-background-clip: border-box;
text-align: left;
}
.p-Home.Image11 {
;
}
.p-Home.TextBox34 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 1.4rem;
}
.p-Home.TextBox35 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 3.4rem;
margin-top: 10px;
width: 541px;
height: auto;
}
.p-Home.TextBox37 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 3.4rem;
margin-top: 10px;
width: 541px;
height: 218px;
}
.p-Home.Button2 {
color: #fff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 1.2rem;
border-radius: 0px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 0px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: auto;
font-family: IBM Plex Sans;
}
.p-Home.Image23 {
width: 460px;
height: 305px;
}
.p-Home.TextBox59 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
padding-top: 15px;
padding-bottom: 20px;
}
.p-Home.TextBox60 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox61 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-Home.Image40 {
width: 460px;
height: 305px;
}
.p-Home.TextBox161 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-Home.TextBox162 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox163 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
padding-top: 15px;
padding-bottom: 20px;
}
.p-Home.Image41 {
width: 460px;
height: 305px;
}
.p-Home.TextBox164 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-Home.TextBox165 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox166 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
padding-top: 15px;
padding-bottom: 20px;
}
.p-Home.TextBox81 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22px;
margin-bottom: 15px;
color: #ffa84b;
}
.p-Home.TextBox82 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
}
.p-Home.TextBox83 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 22px;
}
.p-Home.Image30 {
width: 350px;
align-self: auto;
height: 550px;
}
.p-Home.Image31 {
width: 477px;
height: 550px;
background-origin: padding-box;
background-clip: padding-box;
-webkit-background-clip: padding-box;
background-attachment: local;
overflow: visible;
align-self: center;
}
.p-Home.Image32 {
width: 318px;
height: 270px;
}
.p-Home.Image33 {
width: 318px;
height: 270px;
}
.p-Home.TextBox86 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 36px;
margin-bottom: 80px;
}
.p-Home.TextBox87 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
margin-bottom: 14px;
}
.p-Home.TextBox88 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.TextBox89 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
align-self: center;
}
.p-Home.TextBox96 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
align-self: center;
}
.p-Home.TextBox97 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.TextBox98 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
margin-bottom: 14px;
}
.p-Home.TextBox100 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
margin-bottom: 14px;
}
.p-Home.TextBox101 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.TextBox99 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
align-self: center;
}
.p-Home.TextBox111 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 36px;
margin-bottom: 80px;
}
.p-Home.TextBox102 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
align-self: center;
}
.p-Home.TextBox105 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.TextBox106 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
margin-bottom: 14px;
}
.p-Home.TextBox107 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
margin-bottom: 14px;
}
.p-Home.TextBox108 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.TextBox103 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
align-self: center;
}
.p-Home.TextBox104 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
align-self: center;
}
.p-Home.TextBox109 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.TextBox110 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
margin-bottom: 14px;
}
.p-Home.TextBox112 {
font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 700;
}
.p-Home.TextBox113 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
margin-top: 20px;
}
.p-Home.Image35 {
width: 485px;
height: ;
}
.p-Home.TextBox114 {
font-family: IBM Plex Sans;
font-size: 36px;
font-weight: 700;
}
.p-Home.Image37 {
width: 45px;
height: 45px;
margin-bottom: 33px;
}
.p-Home.TextBox117 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22px;
}
.p-Home.TextBox118 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 22px;
}
.p-Home.TextBox124 {
align-self: center;
font-family: IBM Plex Sans;
font-size: 22px;
font-weight: 700;
}
.p-Home.TextBox125 {
align-self: center;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
}
.p-Home.TextBox138 {
font-family: IBM Plex Sans;
font-size: 24px;
color: #ffffff;
}
.p-Home.TextBox139 {
font-family: IBM Plex Sans;
font-size: 24px;
color: #ffffff;
}
.p-Home.TextBox140 {
font-family: IBM Plex Sans;
font-size: 24px;
color: #ffffff;
}
.p-Home.TextBox141 {
font-family: IBM Plex Sans;
font-size: 24px;
color: #ffffff;
}
.p-Home.TextBox131 {
font-family: IBM Plex Sans;
font-size: 24px;
color: #fcfcfc;
}
.p-Home.TextBox133 {
font-family: IBM Plex Sans;
font-size: 24px;
color: #ffffff;
}
.p-Home.TextBox134 {
font-family: IBM Plex Sans;
font-size: 24px;
color: #ffffff;
}
.p-Home.TextBox167 {
font-family: IBM Plex Sans;
font-size: 24px;
color: #ffffff;
}
.p-Home.TextBox142 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
color: #ffffff;
}
.p-Home.TextBox143 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
color: #ffa84b;
}
.p-Home.TextBox145 {
font-family: IBM Plex Sans;
font-size: 24px;
color: #ffffff;
font-weight: 700;
margin-bottom: 15px;
}
.p-Home.TextBox146 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #666666;
}
.p-Home.TextBox147 {
font-family: IBM Plex Sans;
font-size: 20px;
color: #666666;
}
.p-Home.TextBox148 {
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
color: #ffffff;
}
.p-Home.TextBox149 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
}
.p-Home.TextBox150 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
}
.p-Home.TextBox154 {
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
color: #ffffff;
}
.p-Home.TextBox155 {
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
color: #ffffff;
}
.p-Home.TextBox156 {
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
color: #ffffff;
}
.p-Home.TextBox157 {
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
color: #ffffff;
}
.p-Home.TextBox158 {
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
color: #ffffff;
}
.p-Home.TextBox159 {
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
color: #ffffff;
}
.p-Home.TextBox160 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
color: #ffffff;
}
.p-Home.TextBox62 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22px;
color: #f6f6f6;
}
.p-Home.TextBox63 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
color: #f6f6f6;
margin-bottom: 30px;
margin-top: 20px;
text-align: left;
word-wrap: normal;
float: none;
position: static;
}
.p-Home.TextBox64 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
color: #f6f6f6;
}
.p-Home.TextBox66 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 14px;
align-self: flex-start;
color: #ffffff;
}
.p-Home.TextBox67 {
align-self: flex-start;
margin-top: 13px;
margin-bottom: 32px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 28px;
color: #fafafa;
}
.p-Home.TextBox68 {
align-self: flex-start;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
background-color: #000000;
color: #ffffff;
line-height: 13px;
padding-bottom: 2px;
}
.p-Home.TextBox69 {
align-self: flex-start;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
background-color: #000000;
color: #ffffff;
line-height: 13px;
padding-bottom: 2px;
}
.p-Home.TextBox70 {
align-self: flex-start;
margin-top: 13px;
margin-bottom: 32px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 28px;
color: #fafafa;
}
.p-Home.TextBox71 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 14px;
align-self: flex-start;
color: #ffffff;
}
.p-Home.TextBox72 {
align-self: flex-start;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
background-color: #000000;
color: #ffffff;
line-height: 13px;
padding-bottom: 2px;
}
.p-Home.TextBox73 {
align-self: flex-start;
margin-top: 13px;
margin-bottom: 32px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 28px;
color: #fafafa;
}
.p-Home.TextBox74 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 14px;
align-self: flex-start;
color: #ffffff;
}
.p-Home.TextBox75 {
align-self: flex-start;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
background-color: #000000;
color: #ffffff;
line-height: 13px;
padding-bottom: 2px;
}
.p-Home.TextBox76 {
align-self: flex-start;
margin-top: 13px;
margin-bottom: 32px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 28px;
color: #fafafa;
}
.p-Home.TextBox77 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 14px;
align-self: flex-start;
color: #ffffff;
}
.p-Home.TextBox78 {
align-self: flex-start;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 700;
background-color: #000000;
color: #ffffff;
line-height: 13px;
padding-bottom: 2px;
}
.p-Home.TextBox79 {
align-self: flex-start;
margin-top: 13px;
margin-bottom: 32px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 28px;
color: #fafafa;
}
.p-Home.TextBox80 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 14px;
align-self: flex-start;
color: #ffffff;
}
